<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.masterConnectionString"
            connectionString="Data Source=itsc.database.windows.net;Initial Catalog=master;User ID=fcastillo;Password=GarminBibsMoga48$"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.sof108ConnectionString"
            connectionString="Data Source=itsc.database.windows.net;Initial Catalog=sof108;User ID=fcastillo;Password=GarminBibsMoga48$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>